.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .heading {
    width: 90%;
    line-height: 1.5em;
    color: #27374d;
    font-weight: 400;
  }
}
